@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;600&family=Work+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  background: black;
}

#container {
  padding-left: 30px;
  font-family: 'Work Sans', Helvetica, sans-serif;
}

.logo img {
  height: 94px;
  width: 389px;
  padding-top: 50px;
  padding-right: 301px;
}

.infos h1 {
  color: #08C05E;
  padding-top: 92px;
  font-weight: 30.44px;
}

.infos h2 {
  color: white;
  padding-top: 8.56px;
}